$avatar_unit: 1.8rem;

.docs-navigation {
  .avatar {
    width: 2 * $avatar_unit;
    height: 2 * $avatar_unit;
    border-radius: $avatar_unit;
  }

  .nav-item {
    font-size: 1.8rem;
  }

  .docs-navigation-right {
    svg {
      display: inline-block;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
