.sidebar {
  background: #000;
  color: #fff;

  .subject {
    padding: 0.3rem;

    .items {
      background: #333;
    }

    .item {
      display: block;
      padding: 0.3rem;
      color: #fff;
    }
  }
}
